@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.side-note {
  @media (min-width: 1080px) {
    float: left;
    width: 20%;
    margin-left: -33%;
    position: sticky;
    top: 32px;
  }
  margin-bottom: 1em;
}

article {
  h2:first-of-type {
    margin-top: 0;
  }
}

.drop {
  background: -webkit-gradient(
    linear,
    0% 0%,
    0% 100%,
    from(rgba(255, 255, 255, 0.5)),
    to(rgb(25, 87, 97))
  );
  width: 1px;
  border-radius: 9999px;
  position: absolute;
  bottom: 200px;
  -webkit-animation: fall 0.63s linear infinite;
  -moz-animation: fall 0.63s linear infinite;
}

/* drop animation styles */
@-webkit-keyframes fall {
  to {
    margin-top: 900px;
  }
}
@-moz-keyframes fall {
  to {
    margin-top: 900px;
  }
}

@keyframes fall {
  to {
    margin-top: 900px;
  }
}
